@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
    color: #ffffff;
}

.bg-custom {
    width: 100%;
    min-height:100vh;
    background-color: #ca1414 ;
    background-size: cover;
    overflow: hidden;
  }

.card {
    width: 100%;
    height: 400px;
    background: #8f0809;
    box-shadow: -10px 10px 0px 0px #6b0003;
}

.card textarea{
    height: 270px;
}

.btn-custom {
    background: #6b0003;
    color: #ffffff;
}

.input-icon {
    width: 25px;
    height: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .card{
        height: 200px;
    }
    .card textarea{
        height: 70px;
    }
}