@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
}

.bg-custom {
    width: 100%;
    min-height: 100vh;
    background-color: #ca1414;
    background-size: cover;
    overflow: hidden;
}

.bg-cart {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.bg-cart h1,h3 {
    color: #ca1414;
}

.bg-cart td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-button {
    background-color: transparent;
    padding: 2px;
    margin: 0 4px;
    outline: none !important;
    border: none;
}

.icon-button .fa-sort-down {
    color: #000000;
    font-size: 15px;
    padding: 8px;
}

tr.collapse.in {
    display: table-row;
}