@import 'fonts/gotham.css';

* {
  font-family: 'GothamPro';

}

.bg-image {
  width: 100%;
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;  
  color: #ffffff;
}


.recommend-wrapper {
  position: relative;
  margin-top: 20px;
  padding-bottom: 20px;
}

.recommend-block {
  padding: 5px;
  margin: 0 5px;
}

.recommend-block .card-img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.recommend-block .card-img-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
