@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
}

.rightside {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.img-box {
    background-color: #ca1414;
    color: white;
}

.img-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.rightside {
    background: #d4d4d4b9;
}
