@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
}

.bg-custom {
    width: 100%;
    min-height: 100vh;
    background-color: #b4b4b4;
    background-size: cover;
    overflow: hidden;
}

input{
    outline: none;
    box-shadow: none;
}