@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
}

.bg-custom {
    width: 100%;
    min-height: 100vh;
    background-color: #ca1414;
    background-size: cover;
    overflow: hidden;
}

.bg-cart {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
