@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
    color: #ffffff;
}

body {
    background: #ca1414;
}

.card {
    width: 35rem;
    background: #8f0809;
    box-shadow: -15px 15px 0px 0px #6b0003;
}

.btn-custom {
    background: #6b0003;
    color: #ffffff;
}

.input-icon {
    width: 25px;
    height: 25px;
}