@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
    color: #ffffff;
}

body {
    background: #ca1414;
    margin-bottom: 50px;
}

.card {
    width: 35%;
    background: #8f0809;
    box-shadow: -10px 10px 0px 0px #6b0003;
}

.btn-custom {
    background: #6b0003;
    color: #ffffff;
}

.input-icon {
    width: 25px;
    height: 25px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .card {
        width: 85%;
    }
}