@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
    color: #ffffff;
}

.bg-image{
  width: 100%;
  background-image: url("../assets//images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}





