@import 'fonts/gotham.css';

* {
    font-family: 'GothamPro';
}

.leftside,
.rightside {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.rightside,
.btn-custom {
    background: #ca1414;
    color: #ffffff;
}

.leftside h1 {
    background: #ffffff;
    color: #ca1414;
    font-weight: 600;
}

.input-icon {
    width: 22px;
    height: 22px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .rightside {
        display: none;
    }
}
