@import "fonts/gotham.css";

* {
  font-family: "GothamPro";
}

.bg-custom {
  width: 100%;
  min-height:100vh;
  background-color: #ca1414 ;
  background-size: cover;
  overflow: hidden;
}

.bg-menu {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-img-top{
  width:100%; 
  height:250px;
  object-fit: cover;
}
/* .card-img-overlay{
  opacity: 0;
  transition: 0.3s ease;
}

.card-img-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.596)
} */
