@import "fonts/gotham.css";

* {
  font-family: "GothamPro";
}

.bg-custom {
  background-color: #ca1414 !important;
  width: 100%;
  min-height: 100vh;
  
}

.bg-menu {
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  border-radius: 20px;
}

 #top-header {
  position: absolute;
  top: 85px;
  left: 200px;
  box-shadow: 0 5px 12px #000000;
  border-radius: 20px;
}