@import "fonts/gotham.css";

* {
  font-family: "GothamPro";
}

.bg-custom {
  width: 100%;
  min-height:100vh;
  background-color: #ca1414 ;
  background-size: cover;
  overflow: hidden;
}

.bg-menu {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-img-top{
  width:100%; 
  height:250px;
  object-fit: cover;
}

.btn-danger{
  background-color: #ca1414 ;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .card-img-top {
      height: 170px; 
  }
}
