/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background:skyblue;
}

.main-wrapper {
    width: 1000px;
    height: auto;
    margin: auto;
}

.header-wrapper {
    width: 1000px;
    height: 100px;
    margin: auto;
}

#logo {
    float:left;

}

#banner {
    float:right;

}

.menubar {
    width: 1000px;
    height: 50px;
    background-color: gray;
    color: white;
}

#menu {
    padding: 0;
    margin: 0;
    line-height: 40px;
    float: left;
}

#menu li {
    list-style: none;
    display: inline;

}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#menu a:hover {
    color: orange;
    font-weight: bolder;
    text-decoration: underline;
}

#form {
    float: right;
    padding-right: 8px;
    line-height: 40px;
}

.content-wrapper {
    width: 1000px;
    margin: auto;
    background-color: pink;
}

#content-area {
    width: 800px;
    float: right;
    background-color: pink;
}

#sidebar {
    width: 200px;
    background: black;
    float: left;
}

#sidebar-title {
    background-color: white;
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

#categories-list {
    text-align: center;
    padding: 6px;
}

#categories-list li {
    list-style: none;
    margin: 5px;
}

#categories-list a {
    color: white;
    padding: 8px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
}

#categories-list a:hover {
    color: orange;
    font-weight: bolder;
    text-decoration: underline;
}


#footer {
    width: 1000px;
    height: 100px;
    background-color: gray;
    clear: both;
    vertical-align: middle;
}